#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    // Define a default keymap here.
    // See https://zmk.dev/docs/development/hardware-integration/new-shield#default-keymap.
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* Layer 0 Base layer
            *
            *                 .------------.             .------------.                               
            *    _____________|     MB1    |_____________|    MB2     |____________ 
            *  /              '------------'             '------------'    SCRL_UP  \
            * |                                                              _  _    |
            * |   Joystick                                                =        = |
            * |    .-------.    .-----------.-----------.-----------.   =            =
            * |  /    _ _    \  | SCRL_LEFT |  MOVE_UP  |SCRL_RIGHT |  =              =
            * | .  .''   ''.  . |           |           |           |  =      A       =
            * | | (    K    ) | |-----------+-----------+-----------|   =            =
            * | '  '.._ _..'  ' | MOVE_LEFT | MOVE_DOWN |MOVE_RIGHT |     =        = |
            * |  \           /  |           |           |           |        ~  ~    |
            * '    '-------'    '-----------'-----------'-----------'      SCRL_DOWN '
            *  \                                                                    /
            *    `-- .________________________________________________________. --'
            */
            bindings = <
&mkp MB1                        &mkp MB2
&msc SCRL_LEFT  &mmv MOVE_UP    &msc SCRL_RIGHT    &msc SCRL_UP
&kp K                                              &mmv A
&mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT    &msc SCRL_DOWN
            >;
        };
    };
};
